.button {
    -fx-font-size: 13px;
    -fx-base: #00a7d4;
    -fx-background: #e5f3f6;
    -fx-focus-color: #0093FF;
    -fx-control-inner-background: #FFFFFF;
    -fx-text-base-color: #FFFFFF;
    -fx-background-color: #00a7d4;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-padding: 0.16em 0.83em 0.25em 0.83em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.button:hover {
    -fx-focus-color: #FF0000;
    -fx-background-color: #0187AB;
}